.header__forsale img{
width: 20em;
height: 30em;

}
.header__information {
    text-align: center;
    background-color: rgb(241, 220, 181);
    padding: 1.5em;
    font-size: 1.5em;
}
.header__information h4{
    margin: 1em;
}